* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header header"
    "nav1   nav2   nav3   nav3"
    "aside aside section section"
    "footer1 footer2 footer3 footer4";
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 100px 100px 780px 100px;
}

#header {
  background-color: blueviolet;
  grid-area: header;
}

#nav1 {
  background-color: rgb(17, 231, 124);
  grid-area: nav1;
}
#nav2 {
  background-color: rgb(200, 255, 0);
  grid-area: nav2;
}
#nav3 {
  background-color: rgb(231, 17, 106);
  grid-area: nav3;
}

#aside {
  background-color: brown;
  grid-area: aside;
}
#section {
  background-color: rgb(5, 87, 238);
  grid-area: section;
}

#footer1 {
  background-color: rgb(30, 210, 39);
  grid-area: footer1;
}
#footer2 {
  background-color: rgb(30, 189, 210);
  grid-area: footer2;
}
#footer3 {
  background-color: chocolate;
  grid-area: footer3;
}
#footer4 {
  background-color: rgb(57, 30, 210);
  grid-area: footer4;
}
